body{
background:#f2f2f2;
font-family:Arial;
text-align:center;
}

.container{
margin-top:100px;
}

input{
width:350px;
height:40px;
font-size:18px;
}

button{
width:150px;
height:45px;
font-size:18px;
background:blue;
color:white;
}