# Java
*.class

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# Temporary Files
*.tmp
*.bak

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Model cache (Optional)
*.joblib
